header {
    text-align: center;
    padding: 20px 50px 20px 50px;
    border-bottom: 3px dashed var(--blue-color);
}

.header-left {

}

.header-nav.row{
    height: 100%;
    align-items: center;
}

.header-nav__item {
}

.header-nav__item:first-child {
    margin-left: 0;
}

.header-nav__item-link {
    text-transform: uppercase;
    display: block;
    padding: 12px 12px;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--green-color);
    transition: .3s;
}

.header-nav__item-link:hover {
    color: var(--white-color);
    background-color: var(--green-color);
}

.header-midle {
    display: flex;
    align-items: center;
    justify-content: center;
}   

.header-logo {
    font-size: 4rem;
    font-family: var(--font-shantell);
    color: var(--blue-color);
}   

.header-right {
    position: relative;
}

.header-right .row{
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.cart {
    position: relative;
}

.cart::after {
    content: "0";
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.5rem;
    width: 20px;
    height: 20px;
    line-height: 2rem;
    border-radius: 50%;
    background-color: var(--green-color);
    color: var(--white-color);
}

.cart,
.search,
.account {
    font-size: 2.4rem;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.cart-list {
    display: none;
    position: absolute;
    right: 20%;
    top: 65px;
    width: 330px;
    /* min-height: 300px; */
    padding: 45px 30px;
    font-size: 1.8rem;
    background-color: #242833;
    color: var(--white-color);
    animation: .3s cubic-bezier(0.02, 0.03, 0.99, 1) fadeIn;
    z-index: 100;
}

.cart-list i {
    display: block;
    margin-bottom: 25px;
}

.cart-list p {
    user-select: none;
}

.cart-list_checked:checked ~ .cart-list {
    display: block;
}

.cart-content__list {
    padding: 10px 13px 10px 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 270px;
    max-height: 215px;
    scrollbar-width: thin;
}

.cart-content__list::-webkit-scrollbar {
    width: 5px;
}

.cart-content__list::-webkit-scrollbar-track {
    background-color: var(--gray-color);
}

.cart-content__list::-webkit-scrollbar-thumb {
    background-color: var(--banner-color);
}

.cart-content__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 13px 10px 0;
    text-align: left;
}   

.cart-content__item-drop {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: .9rem;
    opacity: .8;
    cursor: pointer;
    transition: .3s ease;
}

.cart-content__item-drop i {
    margin-bottom: 0;
}

.cart-content__item-drop:hover {
    opacity: 1;
    color: var(--green-color);
}

.cart-content__item-link {
    display: block;
    width: 80px;
    height: 80px;
}

.cart-content__item-link img {
    width: 100%;
}

.cart-content__item-title {
    display: block;
    width: 120px;
    font-size: 1.8rem;
    margin: 0 0 10px 20px;
}

.cart-content__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 110px;
    font-size: 1.5rem;
    margin-left: 20px;
}

.cart-content__item-qnt {
    width: 30px;
    font-size: 1.5rem;
    color: var(--white-color);
    background-color: transparent;
    border: none;
    outline: none;
}

/* .cart-content__item-qnt::-webkit-outer-spin-button,
.cart-content__item-qnt::-webkit-inner-spin-button {
    -webkit-appearance: none;
} */
/* 
.cart-content__item-inc,
.cart-content__item-dec {
    position: absolute;
    right: 7px;
    display: block;
    z-index: 1;
    height: 50%;
    line-height: 1.95em;
    text-align: left;
    cursor: pointer;
    user-select: none;
    font-size: 1rem;
}

.cart-content__item-inc {
    top: -5px;
}

.cart-content__item-dec {
    bottom: -5px;
} */

.cart-content__item-mul {
    margin: 0 5px;
    font-size: 1.2rem;
}

.cart-content__total {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-top: 10px;
    border-top: 1px solid #323641;
    text-align: left;
    font-weight: 500;
    font-size: 1.9rem;
}

.cart-content__total-lable {
}

.cart-content__total-value {

}

.cart-content__btn {
    margin-top: 20px;
}

.cart-content__btn-buy {
    display: block;
    padding: 10px;
    min-width: 100%;
    height: 40px;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.8rem;
    color: var(--white-color);
    background-color: var(--green-color);
    transition: .3s ease;
}

.cart-content__btn-buy:hover {
    background-color: var(--green-color-hover);
}


.cart-content__null {
    display: none;
    padding: 3.8em 0;
}

.cart-content__list,
.cart-content__total,
.cart-content__btn {
    /* display: none; */
}

.search-wrap {
    position: fixed;
    left: 0;
    top: -500px;
    z-index: 100;
    width: 100%;
    height: 500px;
    background-color: var(--white-color);
    transition: .3s;
}

.search-wrap_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.search-wrap_close {
    padding: 10px;
    color: var(--black-color);
    font-size: 2.4rem;
    cursor: pointer;
    animation: .3s ease-out rotateBack;
}

.search-wrap_close:hover {
    animation: .3s ease-out rotate;
}

.search-wrap_from {
    position: relative;
}

.search-wrap_from input {
    border: none;
    border-bottom: 2px solid var(--gray-color);
    width: 100%;
    height: 90px;
    font-size: 3rem;
    animation: .3s;
}

.search-wrap_from button {
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    color: #222222;
    font-size: 3rem;
}

.search-wrap_checked:checked ~ .search-wrap {
    top: 0;
}

.slider {
    width: 100vw;
    height: 600px;
    background-color: #F4F7F9;
}   

.slider-item {
    position: relative;
}

.slider-banner {

}

.slider-banner img {
    width: 100%;
    height: 600px;
}

.slider-content {
    position: absolute;
    top: 50%;
    right: 10%;
    width: 50%;
    text-align: center;
}

.slider-content h1 {
    font-size: 3rem;
    font-family: var(--font-shantell);
    line-height: 4rem;
    color: var(--white-color);
}

.slider-btn {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--white-color);
    background-color: var(--blue-color);
    transition: .3s;
}

.slider-btn:hover {
    background-color: var(--yellow-color);
}

.account-bar {
    position: fixed;
    background-color: var(--white-color);
    top: 0;
    right: -100%;
    width: 318px;
    min-height: 100%;
    padding: 55px 35px 40px;
    box-shadow: -1px 10px 80px -15px rgba(0,0,0,.3);
    transition: .6s ease-out;
    z-index: 100;
}

.account-bar__logouted .wrap-item {
    display: flex;
    justify-content: space-between;
}

.account-bar__logined {
    display: none;
}

.account-bar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

}

.account-name {
    font-family: var(--font-shantell);
    font-size: 3rem;
    color: var(--blue-color);
}   

.account-bar__close {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #f0f0f0;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    cursor: pointer;
    animation: .3s ease-out rotateBack;
}

.account-bar__close:hover {
    animation: .3s ease-out rotate;
    
}

.account-email,
.account-addrs,
.account-logout,
.account-login,
.account-register {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 10px;
}

.account-email p,
.account-addrs p,
.account-logout p,
.account-register p {
    margin-left: 2px;
}

.account-login p{
    margin-left: 2px;
}

.account-addrs i{
    margin-left: -2px;
    margin-right: 2px;
}

.account-logout,
.account-login,
.account-register {
    margin-top: 50px;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--blue-color);
    transition: .3s ease;
}

.account-logout:hover,
.account-login:hover,
.account-register:hover {
    color: var(--green-color);
}

.account-bar_checked:checked ~ .account-bar {
    right: 0%;
}

.content {
    text-align: center;
    background-color: #F4F7F9;
    padding-top: 120px;
}

.content-text {
    display: block;
    margin-bottom: 1.4em;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--blue-color);
    line-height: 1.8rem;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    opacity: 0.9;
}

.content-bestsale {
    display: block;
    font-size: 5.7rem;
    line-height: 6.7rem;
    letter-spacing: -1.8px;
    margin-bottom: 1.4em;
}

.content-product {

}

.content-product_list {

}

.content-product_item {
    text-align: left;
    margin-bottom: 60px;
}

.content-product_item-interact:hover .icons-interact {
    display: flex;
}

.content-product_item-interact .icon-cart:hover,
.content-product_item-interact .icon-detail:hover {
    top: -4px;
}

.content-product_item-link {
    display: block;
    margin-bottom: 30px;
}


.content-product_item-interact:hover .content-product_item-link img{
    transform: scale(1.1, 1.1);
    vertical-align: middle;
}

.content-product_item-link img {
    width: 100%;
    transition: .3s;
}

.content-product_item-title {
    font-size: 2.2rem;
    line-height: 1em;
    margin-bottom: 15px;
}

.content-product_item-author {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-bottom: 15px;
}

.content-product_item .start-rating {
    margin-bottom: 15px;
}

.content-product_item-price {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);   
}


