.odd {

}

.content {
    background-color: var(--white-color);
}

.category {
    width: 300px;
    border: 1px solid var(--gray-color);
}

.category-wrap {
    padding: 18px;
    font-size: 1.6rem;
}

.category-wrap a {
    position: relative;
    display: block;
    padding: 10px;
    margin-bottom: 2px;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--blue-color);
    transition: .3s ease;
}

.category-wrap a:hover {
    color: var(--green-color);
}

.category-active::after {
    position: absolute;
    top: 12px;
    right: 10px;
    content: "";
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent var(--blue-color);
}

.manager-table {
    clear: both;
    width: 100%;
    max-width: none;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid var(--gray-color);
}

.manager-header {
    width: 100%;
    text-align: center;
    border: 2px solid var(--gray-color);
}

.manager-header > tr > th {
    padding: 12px 30px 12px 30px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.8rem;
    border: 1px solid var(--gray-color);
    color: var(--blue-color);
}

.manager-book__img-lable {
    width: 150px;
}

.manager-content {
    text-align: left;
}

.manager-content > tr > td {
    padding: 12px;
    font-size: 1.6rem;
    color: var(--black-color);
    border: 1px solid var(--gray-color);
}

.manager-book__img {
    width: 100%;
}  

.manager-book__desc p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.manager-content > tr > td:last-child,
.manager-content > tr > td:first-child {
    text-align: center;
}

.manager-book__action,
.manager-user__action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manager-book__action a,
.manager-user__action a {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 3px 0;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--white-color);
    background-color: var(--green-color);
    border-radius: 3px;
}

.manager-book__add,
.manager-user__add {
    position: absolute;
    top: 130px;
    right: 160px;
    margin: 3px 0;
    padding: 5px 6px;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--white-color);
    background-color: var(--green-color);
    border-radius: 3px;
    transition: .3s ease;
}

.manager-user__add {
    padding: 5px 18px;
}

.manager-book__add:hover,
.manager-user__add:hover {
    background-color: var(--green-color-hover);
}

.manager-book__edit,
.manager-book__drop,
.manager-user__edit,
.manager-user__drop {
    position: relative;
}

.manager-user__add::before,
.manager-user__add::before {
    position: absolute;
    top: 3px;
    right: -40px;
    content: "Add";
    font-size: 1.2rem;
    line-height: 1;
    padding: 4px;
    background-color: var(--banner-color);
    opacity: 0;
    visibility: hidden;
}

.manager-book__edit::before,
.manager-user__edit::before {
    position: absolute;
    top: 3px;
    right: -40px;
    content: "Edit";
    font-size: 1.2rem;
    line-height: 1;
    padding: 4px;
    background-color: var(--banner-color);
    opacity: 0;
    visibility: hidden;
}

.manager-book__drop::before,
.manager-user__drop::before {
    position: absolute;
    top: 3px;
    right: -54px;
    content: "Delete";
    font-size: 1.2rem;
    line-height: 1;
    padding: 4px;
    background-color: var(--banner-color);
    opacity: 0;
    visibility: hidden;
}

.manager-book__edit:hover::before,
.manager-book__drop:hover::before,
.manager-user__add:hover::before,
.manager-user__edit:hover::before,
.manager-user__drop:hover::before{
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
}  

.manager-add {
    text-align: left;
}

.form-group {
    margin-bottom: 16px;
}

.form-label {
    display: block;
    max-width: 150px;
    margin-bottom: 8px;
    font-size: 1.6rem;
    color: var(--black-color);
    line-height: 2.8rem;
}

.form-input {
    padding: 6px 12px;
    width: 100%;
    height: 45px;
    font-size: 1.6rem;
    line-height: 4.5rem;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
}

.form-input__img {
    opacity: 0;
}

.custom-from {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 45px;
    margin-bottom: 0;
}

.custom-from__label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45px;
    padding: 10px 10px;
    z-index: 1;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.3rem;
    color: var(--text-color);
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    cursor: pointer;
}

.custom-from__label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    height: 43px;
    padding: 0 10px;
    line-height: 4.5rem;
    color: var(--white-color);
    content: "Browse";
    background-color: var(--text-color);
    border-left: inherit;
    border-radius: 5px;
    transition: .3s ease;
}

.custom-from__label:hover:after {
    color: var(--text-color);
    background-color: var(--gray-color);
}

.form-input__desc {
    display: block;
    height: auto;
    max-height: 250px;
    min-height: 180px;
    line-height: 45px;
    overflow: auto;
    resize: vertical;
    border: 1px solid var(--gray-color);
}

.btn-submit,
.btn-reset {
    width: 80px;
    height: 40px;
    text-align: center;
    padding: 5px 10px;
    font-weight: 500;
    color: var(--white-color);
    cursor: pointer;
    transition: .3s ease;
    border-radius: 3px;
}

.btn-submit {
    background-color: var(--green-color);
}

.btn-submit:hover {
    background-color: var(--green-color-hover);
}

.btn-reset {
    background-color: var(--red-color);
}

.btn-reset:hover {
    background-color: var(--red-color-hover);
}

.manager-user,
.add-book,
.add-user {
    display: none;
}