.account-table {
    width: 570px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.account-container {
    background: #f3f3f3 none repeat scroll 0 0;
    padding: 37px 40px;
    text-align: left;
    overflow: hidden;
}

.account-header {
    text-align: center;
    margin-bottom: 30px;
}

.account-header h2 {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: var(--blue-color);
    font-weight: 400;
    font-style: normal;
}

.account-header p {
    color: #666;
    font-size: 15px;
}

.input-name,
.input-pass,
.input-email,
.input-address,
.input-pass-again{
    background: #fff none repeat scroll 0 0;
    border: medium none transparent;
    border-radius: 0;
    box-shadow: none;
    color: #333;
    font-size: 14px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 100%;
    font-family: Work Sans,sans-serif;
    font-weight: 400;
    outline: 0;
    user-select: none;
}

.login-btn,
.btn-register,
.btn-acp{
    background-color: var(--blue-color);
    border-color: var(--blue-color);
    color: #fff;
    font-size: 14px;
    padding: 10px 45px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 0;
    border: 1px solid var(--blue-color);
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .25s;
}

.login-btn:hover,
.btn-register:hover,
.btn-acp:hover {
    background-color: var(--green-color);
}

.account-footer {
    margin-top: 20px;
}

.account-footer a {
    font-size: 1.5rem;
    color: var(--blue-color);
    transition: .3s ease;
}

.account-footer:hover a {
    color: var(--green-color);
}